PORT=5001
MONGO_URI=mongodb+srv://hardikmathur11:Mongowithhardik@cluster0.0stebd8.mongodb.net/adraya_luxury_heritage?retryWrites=true&w=majority
GROK_API_KEY=YOUR_GROK_API_KEY_HERE
JWT_SECRET=adraya_heritage_super_secret_jwt_key_2026
